[Desktop Entry]
Name=Unity Hub
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=unityhub
StartupWMClass=unityhub
X-AppImage-Version=UNIQUE_VERSION_TEXT_FOR_SED
Comment=Unofficial Unity Hub AppImage
Categories=Development;IDE;
TryExec=unityhub
MimeType=x-scheme-handler/unityhub;